* {
  font-family: 'Contrail One', cursive;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 50vw);
}

/* header */

header {
  background: rgb(48, 47, 47);
  color: rgb(246, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 12.5rem;
  text-align: center;
  font-family: 'Cookie', cursive;
  margin: 30px 0 10px;
  text-shadow: 8px 10px 14px black;
}

span {
  display: block;
}

.header-part-1 {
  position: relative;
  animation: drop-in-1 1.5s linear;
}

.header-part-2 {
  position: relative;
  animation: drop-in-2 1s linear;
}

@keyframes drop-in-2 {
  0% {
    opacity: 0;
  }

  10% {
    top: -300px;
    transform: skew(-30deg);
    opacity: 0;
  }

  80% {
    transform: skew(-30deg);
  }

  90% {
    transform: skew(10deg);
  }

  100% {
    top: 0px;
    transform: none;
  }
}

@keyframes drop-in-1 {
  0% {
    top: -600px;
    transform: skew(-30deg);
    opacity: 0;
  }

  80% {
    transform: skew(-30deg);
  }

  90% {
    transform: skew(10deg);
  }

  100% {
    top: 0px;
    transform: none;
  }
}

/* palette-picker */

.palette-picker {
  display: flex;
}

.color {
  height: 110px;
  width: 100%;
  transition: ease all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

i, p {
  font-size: 2.2rem;
  text-align: center;
  color: rgb(37, 37, 37);
  margin: 5px;
  letter-spacing: 3px;
  font-weight: bolder;
  transition: ease all 1s;
  text-shadow: 
    .5px .5px #FFF,
    -.5px -.5px #FFF, 
    -.5px .5px #FFF, 
    .5px -.5px #FFF;
}

.color i:hover {
  color: rgb(151, 2, 2);
  cursor: pointer;
  font-size: 2.7rem;
}

/* new-project */

h3 {
  font-size: 3rem;
  text-align: center;
  margin: 20px auto 10px;
  text-shadow: 8px 10px 14px black;
}

.new-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background:rgb(255, 255, 255);
}

.save-project-name {
  margin: 10px 0 20px;
  background: rgb(48, 47, 47);
  color:rgb(246, 240, 240);
  box-shadow: 4px 5px 7px rgb(150, 149, 149);
  background: rgb(92, 91, 91);
}

.create-new {
  text-shadow: 2px 2px 5px rgb(170, 170, 170);
}

/* save palette */

.save {
  background: rgb(72, 73, 76);
}

.save-this-palette {
  margin: 20px auto 10px;
  color: rgb(246, 240, 240);
  text-shadow: 3px 4px 7px rgb(15, 15, 15);
}

button {
  border: none;
  outline: none;
  background: rgb(246, 240, 240);
  color: black;
  font-size: 2rem;
  padding: 5px 25px;
  margin: 0 auto 20px;
  display: block;
  box-shadow: 8px 10px 14px black;
  border-radius: 5px;
  transition: ease all 1s;
}

button:hover {
  background: rgb(1, 192, 151);
  color: white;
  cursor: pointer;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 0 5px;
  border: 2px solid rgb(1, 192, 151);
  background-color: rgb(246, 240, 240);
  z-index: 10;
}

.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  width: 100%;
  padding: 12px 55px 15px 15px;
  color:rgb(48, 47, 47);
  font-size: 1.4rem;
}

.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "▼";
  text-align: center;
  color:rgb(48, 47, 47);
  font-size: 2rem;
  font-weight: bolder;
  padding: 12px 0 0;
  z-index: -1;
}

input {
  height: 57px;
  margin: 0 5px;
  border: none;
  outline: none;
  background: rgb(246, 240, 240);
  color: black;
  font-size: 1.69rem;
}

input::placeholder {
  padding-left: 5px;
}

.div-save-palette {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.save-palette {
  margin-top: 20px;
  box-shadow: 3px 4px 7px rgb(39, 39, 39);
}

/* my projects */
.project-color {
  height: 50px;
  width: 150px;
}

.my-projects {
  background: rgb(48, 47, 47);
  grid-column: span 2;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-gap: 60px 160px;
  margin: 0 auto 40px;
  justify-content: center;
  width: 100%;
}

.my-projects h3 {
  color: rgb(246, 240, 240);
  font-size: 3.3rem;
  margin: 25px auto 35px;
}

.project-card {
  background:rgb(246, 240, 240);
  width: 500px;
  box-shadow: 8px 10px 14px black;
  transition: ease all 1s;
}

.project-card:hover {
  transform: scale(1.07);
}

li {
  display: flex;
  transition: ease all 1s;
  margin: 5px auto 20px;
}

li:hover {
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: 2px 3px 5px rgb(100, 100, 100);
}

ul {
  margin: 0 20px 20px;
}

h4 {
  font-size: 2rem;
  margin: 10px auto 0;
  text-align: center;
}

h6 {
  font-size: 1.5rem;
  display: inline;
}

#trash-can {
  display: none;
  font-size: 1.2rem;
  margin-top: -15px;
  transition: ease all 1s;
}

.project-card:hover #trash-can {
  display: inline;
}

#trash-can:hover {
  color: rgb(151, 2, 2);
  cursor: pointer;
  font-size: 1.3rem;
}

#exit {
  text-align: center;
  float: right;
  display: none;
  transition: ease all 1s;
  font-size: 1.3rem;
  margin: 12px 10px 0 -33px;
}

.project-card:hover #exit {
  display: inline;
}

#exit:hover {
  color: rgb(151, 2, 2);
  cursor: pointer;
}
